body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

#episode-list, #episode-details {
    margin: 20px;
}

button {
    display: block;
    margin: 20px auto;
}

#episode-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

#episode-list a {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}
